<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <img src="/public/assets/logo.png"></img>
      </a>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <hr />
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/kotlin-native">What is Kotlin/Native</a>
      <a class="sidebar-nav-item" href="/hello-world">Hello, World</a>
      <a class="sidebar-nav-item" href="/hello-libcurl">Hello, libcurl</a>
      <a class="sidebar-nav-item" href="/hello-android-ios">Hello, Android & iOS</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub</a>
    </nav>
    <hr />

    <p class="small-text">{{ site.copyright }}</p>
  </div>
</div>
